body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: #f2f2f2;
  font-family: Roboto, Helvetica, sans-serif;
}

.header {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-items: center;
  color: white;
}

.capa-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.capa-video video {
  min-width: 100%;
  min-height: 100%;
}

.header-options {
  display: flex;
  height: 8vh;
  padding-top: 2vh;
  font-size: 20px;
  max-width: 1000px;
  z-index: 1;
}
.header-options a {
  padding-left: 2vw;
  padding-right: 2vw;
}

@media (max-width: 756px) {
  .header-options {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
  .header-options a {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .seiton-title {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 90px;
    max-width: 1000px;
  }
  .seiton-title span {
    border: 2px white solid;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
  }

  .aboutus {
    margin-top: 0;
    margin: 3vh;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .aboutus article {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
  }
  .aboutus article .subtitle {
    padding-bottom: 3vh;
    padding-top: 3vh;
    font-size: 3.2vh;
    color: #4baf99;
  }
  .aboutus article .text {
    font-size: 2.6vh;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    text-align: center;
    max-width: 90vh;
    width: 100%;
    font-family: Roboto;
  }
  .aboutus article span {
    color: #4346e4;
  }
  .aboutus article span:hover {
    color: #41c4d3;
    text-decoration: underline;
  }
  .aboutus .nos-tittle {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .aboutus p {
    width: 60%;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 2px #77bbc1 solid;
  }

  .technologies {
    padding: 3vh 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
  }
  .technologies .technologies-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .technologies .technologies-container p {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #77bbc1;
    margin-bottom: 1vh;
  }
  .technologies .technologies-container img {
    height: 24vh;
  }
  .technologies .technologies-container .left {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .technologies .technologies-container .left .applications-webs {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.5px black solid;
  }
  .technologies .technologies-container .right {
    margin: 2vh;
  }
  .technologies .technologies-container .right .technologies-rows {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    border: 0.5px black solid;
  }
  .technologies .technologies-container .right .technologies-rows .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .technologies .technologies-container .right .technologies-rows .row img {
    background-color: black;
    border-radius: 50%;
    height: 20vh;
    margin: 2vh;
  }

  .workers {
    background: url("./assets/background.png") #4baf99;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  }
  .workers .content-father-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .workers .content-father-one .childs {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .workers .content-father-one .childs .child {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .workers .content-father-one .childs .child .imagen {
    width: 80vw;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
  }
  .workers .content-father-one .childs .child .imagen:hover {
    opacity: 100%;
    border: 2px solid #4baf99;
  }
  .workers .content-father-one .childs .child p {
    display: none;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
  }
  .workers .content-father-one .childs .child h3:hover {
    color: #4baf99;
  }
  .workers .content-father-one .childs .child h3 {
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
  }
  .workers .content-father-one .title:hover {
    color: #4baf99;
  }
  .workers .content-father-one .title {
    height: 100%;
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 1vh;
  }

  .form-container {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 3vh 0;
  }
  .form-container .titulo {
    padding: 0;
    margin: 0;
    color: #212121;
    font-size: 60px;
    text-align: center;
  }
  .form-container .formulario {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
  }
  .form-container .formulario input[type=text] {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    font-size: 24px;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding: 1vh;
  }
  .form-container .formulario input[type=email] {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    font-size: 24px;
    margin-bottom: 2vh;
    padding: 1vh;
  }
  .form-container .formulario textarea {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    font-size: 24px;
    margin-bottom: 2vh;
    padding: 1vh;
  }
  .form-container .formulario input[type=submit] {
    border: 1px solid white;
    background: #77BBC1;
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 2vh;
  }
  .form-container .formulario input[type=submit]:hover {
    background: #1b6369;
  }

  footer {
    background-color: black;
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 10vh;
    flex-direction: column;
  }
  footer article {
    background-color: #212121;
    border-bottom: gray solid 0.1px;
  }
  footer .left {
    display: none;
  }
  footer .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: sans-serif;
    color: white;
  }
  footer .center .contacto-mail {
    display: flex;
    align-items: center;
  }
  footer .center .contacto-mail img {
    height: 3vh;
    margin-right: 1vw;
  }
  footer .center .contacto-telefono {
    display: flex;
    align-items: center;
  }
  footer .center .contacto-telefono img {
    height: 3vh;
    margin-right: 1vw;
  }
  footer .right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  footer .right .social-media-links {
    padding-top: 3vh;
    display: flex;
  }
  footer .right .social-media-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  footer .right .social-media-links a img {
    height: 6vh;
  }
  footer .right .info-web-page {
    padding-top: 2vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
@media screen and (min-width: 757px) and (max-width: 999px) {
  .seiton-title {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 150px;
    max-width: 1000px;
  }
  .seiton-title span {
    border: 2px white solid;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
  }

  .soporte {
    display: flex;
    height: 200px;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto";
    border: 2px #4baf99 solid;
  }
  .soporte span {
    color: #4baf99;
  }

  .aboutus {
    margin: 0;
    padding: 3vh 0;
    display: flex;
    justify-content: center;
  }
  .aboutus article {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
  }
  .aboutus article .subtitle {
    padding-bottom: 3vh;
    padding-top: 3vh;
    font-size: 3.2vh;
    color: #4baf99;
  }
  .aboutus article .text {
    font-size: 2.6vh;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    text-align: center;
    max-width: 90vh;
    width: 100%;
    font-family: Roboto;
  }
  .aboutus article span {
    color: #4346e4;
  }
  .aboutus article span:hover {
    color: #41c4d3;
    text-decoration: underline;
  }
  .aboutus .nos-tittle {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }
  .aboutus p {
    width: 60%;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 2px #77bbc1 solid;
  }

  .technologies {
    padding: 3vh 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
  }
  .technologies .technologies-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .technologies .technologies-container p {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #77bbc1;
    margin-bottom: 1vh;
  }
  .technologies .technologies-container img {
    height: 24vh;
  }
  .technologies .technologies-container .left {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .technologies .technologies-container .left .applications-webs {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.5px black solid;
  }
  .technologies .technologies-container .right {
    margin: 2vh;
  }
  .technologies .technologies-container .right .technologies-rows {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    border: 0.5px black solid;
  }
  .technologies .technologies-container .right .technologies-rows .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .technologies .technologies-container .right .technologies-rows .row img {
    background-color: black;
    border-radius: 50%;
    height: 20vh;
    margin: 2vh;
  }

  .workers {
    background: url("./assets/background.png") #4baf99;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  }
  .workers .content-father-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
  .workers .content-father-one .childs {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .workers .content-father-one .childs .child {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px;
    margin-bottom: 60px;
    width: 40%;
  }
  .workers .content-father-one .childs .child .imagen {
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
  }
  .workers .content-father-one .childs .child .imagen:hover {
    opacity: 100%;
    border: 2px solid #4baf99;
  }
  .workers .content-father-one .childs .child p {
    width: 400px;
    height: 80px;
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
  }
  .workers .content-father-one .childs .child h3:hover {
    color: #4baf99;
  }
  .workers .content-father-one .childs .child h3 {
    text-decoration: underline;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
  }
  .workers .content-father-one h2:hover {
    color: #4baf99;
  }
  .workers .content-father-one h2 {
    height: 100%;
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 30px 30px;
    padding: 20px 20px;
  }

  .form-container {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .form-container .titulo {
    height: 100%;
    color: #212121;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .form-container .formulario {
    display: flex;
    flex-direction: column;
  }
  .form-container .formulario input[type=text] {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    padding: 40px;
    margin: 20px 100px;
    font-size: 30px;
  }
  .form-container .formulario input[type=email] {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    padding: 40px;
    font-size: 30px;
    margin: 20px 100px;
  }
  .form-container .formulario textarea {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    padding: 40px;
    font-size: 30px;
    max-width: 100%;
    margin: 20px 100px;
  }
  .form-container .formulario input[type=submit] {
    border: 1px solid white;
    background: #77BBC1;
    color: white;
    padding: 40px;
    font-size: 30px;
    margin-bottom: 100px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .form-container .formulario input[type=submit]:hover {
    background: #1b6369;
  }

  footer {
    background-color: black;
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 10vh;
    flex-direction: column;
  }
  footer article {
    background-color: #212121;
    border-bottom: gray solid 0.1px;
  }
  footer .left {
    display: none;
  }
  footer .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: sans-serif;
    color: white;
  }
  footer .center .contacto-mail {
    display: flex;
    align-items: center;
  }
  footer .center .contacto-mail img {
    height: 3vh;
    margin-right: 1vw;
  }
  footer .center .contacto-telefono {
    display: flex;
    align-items: center;
  }
  footer .center .contacto-telefono img {
    height: 3vh;
    margin-right: 1vw;
  }
  footer .right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  footer .right .social-media-links {
    padding-top: 3vh;
    display: flex;
  }
  footer .right .social-media-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  footer .right .social-media-links a img {
    height: 6vh;
  }
  footer .right .info-web-page {
    padding-top: 2vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
@media screen and (min-width: 1000px) {
  .seiton-title {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 108px;
    max-width: 1000px;
  }
  .seiton-title span {
    border: 2px white solid;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
  }

  .aboutus {
    margin-top: 0;
    margin: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .aboutus article {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
  }
  .aboutus article .subtitle {
    padding-bottom: 3vh;
    padding-top: 3vh;
    font-size: 3.2vh;
    color: #4baf99;
  }
  .aboutus article .text {
    font-size: 2.6vh;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    text-align: center;
    max-width: 90vh;
    width: 100%;
    font-family: Roboto;
  }
  .aboutus article span {
    color: #4346e4;
  }
  .aboutus article span:hover {
    color: #41c4d3;
    text-decoration: underline;
  }
  .aboutus .nos-tittle {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: 30px 20px;
    padding: 30px 20px;
  }
  .aboutus p {
    width: 60%;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 2px #77bbc1 solid;
  }

  .technologies {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    height: 100vh;
  }
  .technologies .technologies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
    max-width: 1000px;
    min-width: 1000px;
  }
  .technologies .technologies-container p {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border-bottom: 2px solid #77bbc1;
    margin-bottom: 1vh;
  }
  .technologies .technologies-container .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 6;
  }
  .technologies .technologies-container .left p {
    font-size: 22px;
    font-weight: bold;
  }
  .technologies .technologies-container .left .applications-webs {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 0.5px black solid;
  }
  .technologies .technologies-container .left .applications-webs img {
    height: 24vh;
  }
  .technologies .technologies-container .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 8;
  }
  .technologies .technologies-container .right p {
    font-size: 48px;
    font-weight: bold;
  }
  .technologies .technologies-container .right .technologies-rows {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    border: 0.5px black solid;
  }
  .technologies .technologies-container .right .technologies-rows .row {
    display: flex;
    flex-direction: row;
  }
  .technologies .technologies-container .right .technologies-rows .row img {
    margin: 2vh;
    background-color: black;
    border-radius: 50%;
    height: 20vh;
  }

  .workers {
    background: url("./assets/background.png") #4baf99;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  }
  .workers .content-father-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 200px;
  }
  .workers .content-father-one .childs {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .workers .content-father-one .childs .child {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px;
    margin-bottom: 60px;
    width: 40%;
  }
  .workers .content-father-one .childs .child .imagen {
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
  }
  .workers .content-father-one .childs .child .imagen:hover {
    opacity: 100%;
    border: 2px solid #4baf99;
  }
  .workers .content-father-one .childs .child p {
    width: 400px;
    height: 80px;
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
  }
  .workers .content-father-one .childs .child h3:hover {
    color: #4baf99;
  }
  .workers .content-father-one .childs .child h3 {
    text-decoration: underline;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
  }
  .workers .content-father-one .title:hover {
    color: #4baf99;
  }
  .workers .content-father-one .title {
    height: 100%;
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 30px 30px;
    padding: 20px 20px;
  }

  .form-container {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
  }
  .form-container .titulo {
    height: 100%;
    color: #212121;
    font-size: 60px;
    text-align: center;
    margin: 30px 30px;
    margin-top: 200px;
    padding: 20px 20px;
  }
  .form-container .formulario {
    display: flex;
    flex-direction: column;
  }
  .form-container .formulario input[type=text] {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    padding: 40px;
    margin: 20px 100px;
    font-size: 30px;
  }
  .form-container .formulario input[type=email] {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    padding: 40px;
    font-size: 30px;
    margin: 20px 100px;
  }
  .form-container .formulario textarea {
    border: 1px solid #77BBC1;
    color: #77BBC1;
    padding: 40px;
    font-size: 30px;
    max-width: 100%;
    margin: 20px 100px;
  }
  .form-container .formulario input[type=submit] {
    border: 1px solid white;
    background: #77BBC1;
    color: white;
    padding: 40px;
    font-size: 30px;
    margin-bottom: 100px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 200px;
  }
  .form-container .formulario input[type=submit]:hover {
    background: #1b6369;
  }

  footer {
    background-color: black;
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 10vh;
  }
  footer article {
    background-color: #212121;
    border-bottom: gray solid 0.1px;
  }
  footer .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
  }
  footer .left .logo {
    height: 5vh;
    margin-bottom: 4vh;
  }
  footer .left .links a {
    font-family: sans-serif;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: white;
    text-decoration: none;
  }
  footer .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: sans-serif;
    color: white;
  }
  footer .center .contacto-mail {
    display: flex;
    align-items: center;
  }
  footer .center .contacto-mail img {
    height: 3vh;
    margin-right: 1vw;
  }
  footer .center .contacto-telefono {
    display: flex;
    align-items: center;
  }
  footer .center .contacto-telefono img {
    height: 3vh;
    margin-right: 1vw;
  }
  footer .right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  footer .right .social-media-links {
    padding-top: 3vh;
    display: flex;
  }
  footer .right .social-media-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  footer .right .social-media-links a img {
    height: 6vh;
  }
  footer .right .info-web-page {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}

/*# sourceMappingURL=main-style.css.map */
