$color-branding: #4baf99;
$span-color: #4346e4;
$span-color-hover: #41c4d3;
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
    font-family: Roboto, Helvetica, sans-serif;
}

.header {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-items: center;
    color: white;
}

.capa-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    video {
        min-width: 100%;
        min-height: 100%;
    }
}

.header-options {
    display: flex;
    height: 8vh;
    padding-top: 2vh;
    font-size: 20px;
    max-width: 1000px;
    z-index: 1;
    a {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@import 'min-width-1000px';
@import 'max-width-750px';
@import 'min-width-727px';