$color-branding: rgb(75, 175, 153);
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
    font-family: Roboto, Helvetica, sans-serif;
}

.header {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-items: center;
    background-size: cover;
    background-color: rgba(119, 187, 193, 0.9);
    background-blend-mode: multiply;
    background-attachment: fixed;
    color: white;
}

.capa-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    video {
        min-width: 100%;
        min-height: 100%;
    }
}

.header-options {
    display: flex;
    height: 8vh;
    padding-top: 2vh;
    font-size: 20px;
    max-width: 1000px;
    z-index: 1;
    a {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

.seiton-title {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 150px;
    max-width: 1000px;
    span {
        border: 2px white solid;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-radius: 10px;
    }
}

.soporte {
    display: flex;
    height: 200px;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto';
    border: 2px $color-branding solid;
    span {
        color:  $color-branding;
    }
}

.aboutus {
    margin-top: 0;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    article {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: sans-serif;
        .subtitle {
            padding-bottom: 3vh;
            padding-top: 3vh;
            ;
            font-size: 3.2vh;
            color: $color-branding;
        }
        .text {
            font-size: 2.6vh;
            padding-bottom: 1.5vh;
            padding-top: 1.5vh;
            text-align: center;
            max-width: 90vh;
            width: 100%;
            font-family: Roboto;
        }
        span {
            color: #4346e4;
        }
        span:hover {
            color: #41c4d3;
            text-decoration: underline;
        }
    }
    .nos-tittle {
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        margin: 30px 20px;
        padding: 30px 20px;
    }
    p {
        width: 60%;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-bottom: 1vh;
        border-bottom: 2px #77bbc1 solid;
    }
}

.technologies {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 225, 225);
    .technologies-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 60vh;
        max-width: 1000px;
        min-width: 1000px;
        p {
            padding: 0;
            margin: 0;
            font-family: sans-serif;
            border-bottom: 2px solid #77bbc1;
            margin-bottom: 1vh;
        }
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 6;
            p {
                font-size: 22px;
                font-weight: bold;
            }
            .applications-webs {
                background-color: white;
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                border: 0.5px black solid;
                img {
                    height: 24vh;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex: 8;
            p {
                font-size: 48px;
                font-weight: bold;
            }
            .technologies-rows {
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 20px;
                border: 0.5px black solid;
                .row {
                    display: flex;
                    flex-direction: row;
                    img {
                        margin: 2vh;
                        background-color: black;
                        border-radius: 50%;
                        height: 20vh;
                    }
                }
            }
        }
    }
}

.workers {
    background: url('./assets/background.png') rgb(75, 175, 153);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    .content-father-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        margin-bottom: 200px;
        .childs {
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            .child {
                display: flex;
                color: white;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0px 50px;
                margin-bottom: 60px;
                width: 40%;
                .imagen {
                    width: 400px;
                    height: 400px;
                    margin: 20px;
                    border-radius: 50%;
                    border: 2px solid rgba(255, 255, 255, .8);
                }
                .imagen:hover {
                    opacity: 100%;
                    border: 2px solid rgb(75, 175, 153);
                }
                p {
                    width: 400px;
                    height: 80px;
                    margin: 0px;
                    margin-bottom: 5px;
                    text-align: center;
                    font-size: 25px;
                    font-weight: 200;
                }
                h3:hover {
                    color: rgb(75, 175, 153);
                }
                h3 {
                    text-decoration: underline;
                    font-size: 40px;
                    margin: 0px;
                    margin-bottom: 20px;
                    width: 400px;
                    text-align: center;
                }
            }
        }
        h2:hover {
            color: rgb(75, 175, 153);
        }
        h2 {
            height: 100%;
            color: white;
            font-size: 60px;
            text-align: center;
            margin: 30px 30px;
            padding: 20px 20px;
        }
    }
}

.form-container {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    .titulo {
        height: 100%;
        color: #212121;
        font-size: 60px;
        text-align: center;
        margin: 30px 30px;
        margin-top: 200px;
        padding: 20px 20px;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        input[type="text"] {
            border: 1px solid #77BBC1;
            color: #77BBC1;
            padding: 40px;
            margin: 20px 100px;
            font-size: 30px;
        }
        input[type="email"] {
            border: 1px solid #77BBC1;
            color: #77BBC1;
            padding: 40px;
            font-size: 30px;
            margin: 20px 100px;
        }
        textarea {
            border: 1px solid #77BBC1;
            color: #77BBC1;
            padding: 40px;
            font-size: 30px;
            max-width: 100%;
            margin: 20px 100px;
        }
        input[type="submit"] {
            border: 1px solid white;
            background: #77BBC1;
            color: white;
            padding: 40px;
            font-size: 30px;
            margin-bottom: 100px;
            width: 300px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 200px;
        }
        input[type="submit"]:hover {
            background: rgb(27, 99, 105);
        }
    }
}

footer {
    background-color: black;
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 10vh;
    article {
        background-color: #212121;
        border-bottom: gray solid 0.1px;
    }
    .left {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 2vh;
        .logo {
            height: 5vh;
            margin-bottom: 4vh;
        }
        .links {
            a {
                font-family: sans-serif;
                padding-left: 0.5vw;
                padding-right: 0.5vw;
                color: white;
                text-decoration: none;
            }
        }
    }
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        font-family: sans-serif;
        color: white;
        .contacto-mail {
            display: flex;
            align-items: center;
            img {
                height: 3vh;
                margin-right: 1vw;
            }
        }
        .contacto-telefono {
            display: flex;
            align-items: center;
            img {
                height: 3vh;
                margin-right: 1vw;
            }
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        .social-media-links {
            padding-top: 3vh;
            display: flex;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                img {
                    height: 6vh;
                }
            }
        }
        .info-web-page {
            padding-top: 2vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    }
}

@media screen and (max-width: 1000px) { 

    footer {
        display: flex;
        flex-direction: column;
        .left {
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .right{
            padding-bottom: 20px;
            padding-top: 20px;
            .social-media-links {
                margin: 0 auto;
                padding: 10px;
                a {
                    padding-right: 15px;
                    padding-left: 15px;
                    margin: 0 auto;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .center{
           padding-bottom: 20px;
           padding-top: 20px;
        }
    }

    .technologies { 
        display: flex;
        width: 100%;
        min-width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        .technologies-container {
            display: flex;
            width: 100%;
            min-width: 100%;
            height: 100vh;
            .right {
                display: flex;
                margin: 0;
                padding: 0;

            }
            .left {
                display: flex;
                margin: 0;
                padding: 0;
                .technologies-rows {
                     .row {
                        display: flex;
                        flex-direction: row;
                        img {
                            background-color: black;
                            border-radius: 50%;
                            height: 20vh;
                        }
                    }
                }
            }
        }
        
    }
   
}


@media screen and (max-width: 800px) { 
    .technologies { 
        display: flex;
        width: 100%;
        height: 1800px;
        min-width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        .technologies-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: 100%;
            height: 100vh;
            .right {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                margin-bottom: 150px;

            }
            .left {
                display: flex;
                margin: 0;
                padding: 0;
                margin-bottom: 150px;
                .technologies-rows {
                     .row {
                        display: flex;
                        flex-direction: column;
                        img {
                            background-color: black;
                            border-radius: 50%;
                            height: 20vh;
                        }
                    }
                }
            }
        }
        
    }

}